html {
    color: rgb(14, 14, 14);
}

h1 {
    color: rgb(0, 0, 0) !important;
}

h2 {
    color: rgb(0, 79, 170) !important;
}

h3 {
    color: rgb(52, 129, 197) !important;
}

h4 {
    color: rgb(0, 0, 0) !important;
    margin-block-end: 10px !important;
}

strong {
    font-weight: 900 !important;
    text-shadow: 0px 0px 0px black;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

::marker {
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
}

dt {
    font-weight: 500 !important;
}

.wy-nav-content {
    max-width: none;
}

span[style="font-style:italic"] {
    color: rgb(255, 0, 0) !important;
}

span[style="font-weight:600"] {
    font-weight: 900 !important;
    text-shadow: 0px 0px 0px black;
    font-size: 17px;
}

.notion-code-block.line-numbers > .notranslate {
    font-weight: normal !important;
    font-family: Cascadia Code !important;
    tab-size: 4 !important;
}

/* Indent first line */
/* p {
    text-indent: 1em;
} */
